<div class="page-header">
  <h1 class="page-name">Organización</h1>
  <div class="table-controls">
    <div class="right-controls">
      <button nz-button nzType="primary" (click)="openModal()">
        <i nz-icon nzType="plus"></i>
      </button>
      <button nz-button>
        <i nz-icon nzType="upload"></i>
      </button>
      <button nz-button>
        <i nz-icon nzType="download"></i>
      </button>
    </div>
  </div>
  <nz-tabset class="page-links">
    <nz-tab nzTitle="Divisiones">
      <div class="content-container">
        <div class="table-operations">
          <nz-input-group [nzSuffix]="suffixIcon">
            <input
              type="text"
              nz-input
              placeholder="Buscar"
              [(ngModel)]="searchValue"
              (ngModelChange)="search()"
            />
          </nz-input-group>
          <ng-template #suffixIcon>
              <span nz-icon nzType="search" nzTheme="outline"></span>
          </ng-template>
        </div>
        
        <nz-table
          #rowSelectionTable
          [nzBordered]="true"
          [nzData]="tableData"
          [nzLoading]="loading"
          [nzSize]="'small'"
          [nzFrontPagination]="false"
          [nzScroll]="{ x: '1200px' }"
          class="table-striped-rows"
          >
          <thead class="table-header">
            <tr>
              <th
                [(nzChecked)]="checked"
                [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onAllChecked($event)"
              ></th>
              <th nzShowSort [(nzSortOrder)]="sortMap.get.name" (nzSortChange)="onSort('name')">
                División
              </th>
              <th nzShowSort [(nzSortOrder)]="sortMap.get.name" (nzSortChange)="onSort('upperDivisionName')">
                División Superior
              </th>
              <th nzShowSort [(nzSortOrder)]="sortMap.get.name" (nzSortChange)="onSort('collaborators')">
                Colaboradores
              </th>
              <th nzShowSort [(nzSortOrder)]="sortMap.get.name" (nzSortChange)="onSort('level')">
                Nivel
              </th>
              <th nzShowSort [(nzSortOrder)]="sortMap.get.name" (nzSortChange)="onSort('subdivisions')">
                Subdivisiones
              </th>
              <th>Embajadores</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let division of tableData">
              <td
                [(nzChecked)]="checked"
                (nzCheckedChange)="onItemChecked(division.id, $event)"
              ></td>
              <td class="actions">
                {{ division.name }}
                <button style="float: right; border-radius: 100%; margin-left: auto;" nz-button nzType="link" nzDanger (click)="deleteDivision(division.id)">
                  <i nz-icon nzType="delete" nzTheme="fill" style="width: 10px; height: 10px;"></i>
                </button>
                <button style="float: right; border-radius: 100%; margin-left: auto;" nz-button nzType="link" nzDanger (click)="editDivision(division)">
                  <i nz-icon nzType="edit" nzTheme="fill" style="width: 10px; height: 10px;"></i>
                </button>
              </td>
              <td>
                <span *ngIf="!division.upperDivisionName"><b>Visma Static</b></span>
                <span *ngIf="division.upperDivisionName">{{ division.upperDivisionName }}</span>
              </td>
              <td>{{ division.collaborators }}</td>
              <td>{{ division.level }}</td>
              <td>{{ division.subdivisions }}</td>
              <td>{{ division.ambassadorName || '-' }}</td>
            </tr>
          </tbody>
        </nz-table>
        <div class="table-footer">  
          <div class="total-collaborators">Total colaboradores: {{ total }}</div> 
          <nz-pagination
            [(nzPageIndex)]="pagination.pageIndex"
            [(nzPageSize)]="pagination.pageSize"  
            [nzShowSizeChanger]="true"  
            [nzTotal]="total"    
            (nzPageIndexChange)="onQueryParamsChange({ pageIndex: $event, pageSize: pagination.pageSize })"    
            (nzPageSizeChange)="onQueryParamsChange({ pageIndex: pagination.pageIndex, pageSize: $event })"
          >
          </nz-pagination>
        </div>
      
        <nz-modal
          [(nzVisible)]="isModalVisible"
          [nzTitle]="isEditing ? 'Editar División' : 'Crear División'"
          (nzOnCancel)="closeModal()"
          (nzOnOk)="saveDivision()"
        >
        <ng-container *nzModalContent>
          <form nz-form [formGroup]="divisionForm">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzRequired>Ingresa el nombre de la división que quieres crear:</nz-form-label>
              <nz-form-control [nzSpan]="14" nzErrorTip="Por favor, introduce el nombre de la división.">
                <input nz-input formControlName="name" required />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzRequired>Selecciona la división superior. Esta se encontrarará por ecnima de la división creada en el organigrama de la organización: </nz-form-label>
              <nz-form-control [nzSpan]="14" nzErrorTip="Por favor, selecciona una división superior.">
                <nz-select formControlName="upperDivisionId" required >
                  <nz-option
                    *ngFor="let division of divisions"
                    [nzValue]="division.id"
                    [nzLabel]="division.name"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="24">Ingresa el nombre del embajador (Opcional): </nz-form-label>
              <nz-form-control [nzSpan]="14">
                <input nz-input formControlName="ambassadorName" />
              </nz-form-control>
            </nz-form-item>
          </form>
        </ng-container>
        </nz-modal>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Colaboradores">Working Progress...</nz-tab>
  </nz-tabset>
</div>