.app-layout {
    min-height: 100vh;
}
.logo {
    color: white;
    font-size: 20px;
    padding: 0 24px;
}
nz-header {
    background: #1890ff;
    padding: 0;
    display: flex;
    align-items: center;
}