.app-layout {
    min-height: 100vh;
}
.logo {
    color: white;
    font-size: 25px;
    padding: 0 24px;
    font-weight: bold;
}
nz-header {
    background: linear-gradient(to right, #2E52F8, #56A7F2, #2E52F8);
    background-size: cover;
    padding: 0;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}